@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --back-color: #f6f7f9;
    --tag-color: #e2e2e4;
    --menu-color: #35373b;
    --orange-color: #ff7900;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--back-color);
}

header{
    background-color: var(--menu-color);
    width: 100%;
    text-align: center;
    padding: 32px;
    box-sizing: border-box;
}

.menu{
    font-size: 22px;
}

.menu a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.menu a + a{
    margin-left: 32px;
}

.menu a.active{
    color: var(--orange-color);
    font-weight: bold;
}

.menu a:hover{
    color: var(--orange-color);
}

.menu a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--orange-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.menu a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

.card{
    background-color: white;
    width: 800px;
    min-height: 400px;
    /*espaçamento ao centro*/
    margin: 45px auto;
    /*grid dividido em 40% para imagem e 60% para detalhes*/
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    /*sombra*/
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    /*animation*/
    animation: up 200ms ease;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }

    to{
        opacity: 1;
    }
}

.details{
    padding: 32px;
}

.details .item{
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child{
    border-bottom: none;
}

.details h3,
.details .item div:nth-child(1){
    color: #777;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--orange-color);
}

.details .item span{
    padding: 8px 16px;
    margin-top: 8px;
    margin-right: 4px;
    border-radius: 16px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    columns: #777;
    background-color: var(--tag-color);
    display: inline-block;
}

/* FORM */
input{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type='radio']{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

select,
select option{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

button[type='submit'],
a.button{
    padding: 8px 32px;
    background-color: var(--orange-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

a.button{
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    display: block;
}