<div class="item">
    <div>Avatar URL</div>
    <div>
        <input
        type="url"
        name="avatar_url"
        placeholder="http://"
        value="{{student.avatar_url}}"
        >
    </div>
</div>
<div class="item">
    <div>Nome Completo</div>
    <div>
        <input
        type="text"
        name="name"
        placeholder="Nome do estudante"
        value="{{student.name}}"
        >
    </div>
</div>
<div class="item">
    <div>Email</div>
    <div>
        <input
        type="email"
        name="email"
        placeholder="Email do estudante"
        value="{{student.email}}"
        >
    </div>
</div>
<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input
        type="date"
        name="birth"
        value="{{student.birth}}"
        >
    </div>
</div>
<div class="item">
    <div>Ano Escolar</div>
    <div>
        <select name="school_year">
            <option
                value="5f"
                {% if student.school_year == '5f' %}
                selected
                {% endif %}
                >
            5° ano do ensino fundamental
            </option>
            <option
                value="6f"
                {% if student.school_year == '6f' %}
                selected
                {% endif %}
                >
            6° ano do ensino fundamental
            </option>
            <option
                value="7f"
                {% if student.school_year == '7f' %}
                selected
                {% endif %}
                >
            7° ano do ensino fundamental
            </option>
            <option
                value="8f"
                {% if student.school_year == '8f' %}
                selected
                {% endif %}
                >
            8° ano do ensino fundamental
            </option>
            <option
                value="1m"
                {% if student.school_year == '1m' %}
                selected
                {% endif %}
                >
            1° ano do ensino médio
            </option>
            <option
                value="2m"
                {% if student.school_year == '2m' %}
                selected
                {% endif %}
                >
            2° ano do ensino médio
            </option>
            <option
                value="3m"
                {% if student.school_year == '3m' %}
                selected
                {% endif %}
                >
            3° ano do ensino médio
            </option>
        </select>
    </div>
</div>
<div class="item">
    <div>Carga Horária Semanal</div>
    <div>
        <input
        type="number"
        name="workload"
        placeholder="Em horas"
        value="{{student.workload}}"
        >
    </div>
</div>
<div class="item">
    <div>Professor</div>
    <div>
        <select name="teacher">
            {% for teacher in teachersSelectOptions %}
            <option
                value="{{teacher.id}}"
                {% if student.teacher_id == teacher.id %}
                selected
                {% endif %}
                >
            {{teacher.name}}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
<button type="submit">Salvar</button>